.row
  .col-md-8.col-md-offset-2
    %h1.text-center
      Edit Idea
    .panel.panel-default
      .panel-body
        .well
          = bootstrap_form_for @idea do |f|
            = f.text_field :title
            = f.text_area :body
            = f.hidden_field :quality, value: :swill
            .clearfix
              = f.submit 'Update Idea', class: 'btn btn-primary pull-right', id: 'edit-idea'
